.memberContent_main{
  text-align: center;
  position: relative;
  margin-top: 150px;
}

.memberContent_groups{
  color: white;
}

.groups_list{
  list-style-type: none;
  width: 150px;
}

.groups_list li {
  border: 1px dotted;
}

.memberContent_newGroup{
  position: fixed;
  bottom: 0;
  right: 0;
}
