<template name="afType_sendMessage">
  {{#autoForm collection=messagesCollection id="sendMessageForm" type="insert"}}
  <fieldset class="clubChat__input">
    <div class="clubChat__message-bar">
        {{> afQuickField name='chatroomId'}}
        {{> afQuickField name='userName'}}
        <div class="form-group{{#if afFieldIsInvalid name='content'}} has-error{{/if}}">
              <div class="input-group">
                {{> afFieldInput name='content'}}
                <span class="input-group-addon">
                  <input type="submit" value="{{_ 'chatAction.send'}}">
                </span>
              </div>
              {{#if afFieldIsInvalid name='content'}}
              <span class="help-block">{{afFieldMessage name='content'}}</span>
              {{/if}}
        </div>
    </div>
  </fieldset>
  {{/autoForm}}
</template>
