<template name="search">
  <div class="search">
      <input type="text" name="search" class="searchInput" placeholder="Search...">
  </div>

  <ul class="list-group">
    {{#if searching}}
      {{#each articles}}
        <li class="list-group-item clearfix">
          <span class="pull-left">{{title}}</span>
          <span class="pull-right">{{content}}</span>
        </li>
      {{else}}
        <p class="alert alert-warning">Nothing found for {{query}}. Sorry, bub.</p>
      {{/each}}
    {{/if}}
  </ul>
</template>
